.container{
  display: grid;
  grid-template-columns: minmax(200px, 25%) minmax(20px,40%);
  justify-content: center;
  align-items: center;

}
.calculator{   
    background-color: #f2f2f2;
}
.display{
  background-color: bisque;
}
.calculator,
.display{
  text-align: center;
  padding: 5px;;
}